@import url(https://fonts.googleapis.com/css?family=Open+Sans);




a,a:visited,a:hover,a:active{
  -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
	position:relative;
  transition:1s color ease;
	text-decoration:none;
	color:#DDD;
	font-size:25px;
}
a:hover{
	color:#b27d22;
}
a.before:before,a.after:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
}
a.before:before{
  top:-0.25em;
}
a.after:after{
  bottom:-0.25em;
}
a.before:before,a.after:after{
  height:0.35rem;
  width:0;
  background:#e1ce9a;
}


a.third:after,a.sixth:before,a.sixth:after{
  left:50%;
  -webkit-transform:translateX(-50%);
          transform:translateX(-50%);
}


a.before:hover:before,a.after:hover:after{
  width:100%;
}




form{
    position: relative;
    top: 0px;
    left: 10px;
    transform: translate(0%,0%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: #ddd;
    box-sizing: border-box;
    border-radius: 2px;
    border: 4px solid #ddd;
    padding: 5px;
}

input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 0px;
    padding: 0 20px;
    background: :#ddd;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0%;
    color: #007880;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover{
    width: 200px;
    cursor: pointer;
}

form:hover input{
    display: block;
}

form:hover .fa{
    background: white ;
    color: #e1ce9a;
}